<!DOCTYPE html>
<html>
 <head>

<title>REGISTER PAGE</title>

 </head>
 <style>
#loginbox{

background-color:darkgray;
position: absolute;
top: 20%;
left: 40%;
height: 200px;
width: 300px;
border-style: solid;
border-color: darkblue;
padding: 50px;
}
h3{
    position: absolute;
    top: 10px;
}
#inputbox{

position: absolute;

top: 80px;

}

 </style>

<body>

    <div id="loginbox"> 
<h3>REGISTER FORM</h3>

<div id="inputbox">

<form action="/loginregister" method="POST" autocomplete="off">

<label>USER NAME</label><br>
<input name="username" id="username"><br><br>

<label>password</label><br>
<input name="password" id="password"><br><br>

<button type="submit">SEND</button>


</form>





</div>



    </div>




</body>





</html>