<!DOCTYPE html>
<html>
    <head>
<title>result</title>
</head>
<style>

.GFG{ 
            background-color:bisque; 
            border: 2px solid rgba(17, 3, 99, 0.068); 
            color: green; 
            padding: 5px 10px; 
            text-align: center; 
            display: inline-block; 
            font-size: 10px; 
            margin: 10px 10px; 
            cursor: pointer; 
          
        }

</style>
<body>

<tbody>

{{message}}

</tbody>
<button class="GFG" 
    onclick="window.location.href = 'http://localhost:8080/studentdetail';"> 
        BACK
    </button>

</body>
    
</html>